.players form {
  position: relative;
}

.players form > label {
  display: flex;
  margin-top: -1px;
  width: 100%;
  border-style: solid;
  border-width: 1px 0;
  border-color: #aaa;
}

.players form input {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: .03;
}

.players label.player {
  display: flex;
  width: 100%;
  padding: .5em;
  font-size: 2em;
}

.players form[data-nominating="true"] input + label.player {
  background-color: lightgreen;
}

.players form[data-nominating="true"] input:checked + label.player {
  background-color: darkgreen;
}

.players .player-name {
  flex: 1;
}

.players .player-icons {
  height: 0;
  line-height: 1em;
}

.players .player-icons span + span {
  margin-left: .5em;
}

.players form [data-applicable="false"] {
  visibility: hidden;
}
