.vote .buttons {
  padding: 1em;
  text-align: center;
}

.vote .buttons button + button {
  margin-left: 1em;
}

.vote button {
  color: #ffe;
  width: 6em;
}

.vote button.approve {
  background-color: #eee;
  color: #333;
  border: solid 1px #222;
}

.vote button.reject {
  background-color: #222;
  color: #eee;
  border: solid 1px #222;
}