.lobby-room {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.lobby-room .middle {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 2em;
}

.lobby-room .players > span {
  font-size: 1.5em;
}

.lobby-room .players .player {
  color: #333;
  font-weight: bold;
}

.lobby-room .invite {
  margin: 2em auto 0 auto;
  padding: 1.5em;
  text-align: center;
  background-color: rgb(250, 220, 150);
  border-radius: 1em;
}

.lobby-room .invite h3 {
  padding-top: 0;
}

.lobby-room .invite a {
  font-size: 2em;
}

.lobby-room img {
  margin: 0 auto;
}

.lobby-room .menu-container {
  height: initial;
}

.lobby-room button.leave {
  background-color: #500;
}
