.lobby-room .players {
  padding: 0 2em;
}

.lobby-room .players > span {
  font-size: 1.5em;
}

.lobby-room .players .player {
  color: #333;
  font-weight: bold;
}

.lobby-room button.leave {
  background-color: #500;
}